@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  user-select: none;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: vetirino;
  src: url(./fontFamly/vetrino.otf);
}

@font-face {
  font-family: Gothik;
  src: url(./fontFamly/Century\ Gothic.ttf);
}

@font-face {
  font-family: inter;
  src: url(./fontFamly/Inter-Medium.otf);
}

.inter {
  font-family: inter;
}

.vetirino {
  font-family: vetirino;
}

.gothik {
  font-family: Gothik;
}

.containerb {
  @apply w-full max-w-[1420px] px-5 mx-auto;
}

body::-webkit-scrollbar {
  display: none;
}

nav .active {
  color: #d9782a;
}

.bg {
  background-position: center;
  background-image: url(./assets/orqaFonBg.svg);
}

.bg-2::-webkit-scrollbar {
  display: none;
}

.salom:hover {
  border: 2px solid #ff6a00;
  box-shadow: 0 0 15px #ef6602, 0 0 15px #ef6602 inset;
}

.nimadi {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./assets/menubg.svg);
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./assets/heroBg.png);
}

.mySwiper {
  width: 100%;
  padding: 0 30px;
  height: 500px;
  position: relative;
}

.mySwiper .swiper-button-prev {
  background-image: url(./assets/next.svg);
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.swoperL {
  width: 70%;
  height: 100%;
}

.swiper-button-next {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 50%;
  z-index: 20;
  background-image: url(./assets/prev.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-button-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 50%;
  z-index: 20;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets/next.svg);
}

.mySwiper .swiper-button-next {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 40%;
  z-index: 20;
  transform: rotate(180deg);
  background-image: url(./assets/next.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mySwiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 40%;
  z-index: 20;
  background-image: url(./assets/next.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination-bullet-active {
  background-color: orange;
}

.swiper-pagination-horizontal {
  margin: -13px 0;
}

.sipererMenu {
  width: 70%;
  height: 100%;
}

.sipererMenu .swiper-wrapper {
  display: flex;
  height: 300px;
}

.sipererMenu .swiper-slide {
  height: 100%;
}

.Swiperonce {
  width: 100%;
  height: 400px;
}

.Swiperonce .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.Swiperonce .swiper-button-next {
  bottom: 40%;
}

.Swiperonce .swiper-button-prev {
  bottom: 40%;
}

.swoperL2 .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swoperL2 .swiper-slide {
  width: 95%;
  height: 95%;
}

.swoperL2 .swiper-pagination-horizontal {
  margin-bottom: -10px;
}

.sipererMenu2 {
  width: 300px;
  padding: 0 20px;
  height: 100%;
  overflow: hidden;
}

.sipererMenu2 .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 400px;
}

.sipererMenu2 .swiper-slide {
  width: 100%;
  height: 90%;
  background-color: #d9d9d930;
}

.sipererMenu2 .swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 40px;
  background-image: url(./assets/next.svg);
  bottom: 50%;
  background-size: contain;
}

.sipererMenu2 .swiper-button-next {
  transform: rotate(180deg);
}

.sipererMenu2 .swiper-pagination-horizontal {
  margin-bottom: 0px;
}

.soyalar {
  box-shadow: 0 0 20px #ff6d05 inset;
  filter: drop-shadow(0 0 10px #fd7511);
}

.swiperAbout {
  width: 100%;
  padding: 0 40px;
  height: 400px;
}

.swiperAbout .swiper-wrapper {
  width: 90%;
}

.swiperAbout .swiper-slide {
  height: 400px;
  object-fit: cover;
  width: 100%;
  border-color: rebeccapurple;
}

.swiperAbout .swiper-button-next {
  transform: rotate(180deg);
  background-image: url(./assets/next.svg);
}

.swiperAbout .swiper-button-prev {
  background-image: url(./assets/next.svg);
}

.misus {
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  background-image: url(./assets/minus.webp);
}

.plus {
  background-repeat: no-repeat;
  background-size: 80% 70%;
  background-position: center;
  background-image: url(./assets/plus.webp);
}
