@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  user-select: none;
  margin: 0;
  box-sizing: border-box;
}
.containerb {
  @apply w-full max-w-[1220px] px-5 mx-auto;
}

body::-webkit-scrollbar {
  display: none;
}

nav .active {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #d9782a;
}

nav .active {
  @apply max-md:flex-row  max-md:after:hidden before:hidden max-md:before:inline-block before:mr-3;
}

nav .active::after {
  content: "";
  width: 17px;
  height: 17px;
  background-color: #d9782a;
  border-radius: 50%;
}

nav .active::before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: #d9782a;
  border-radius: 50%;
}
.bg {
  background-position: center;
  background-size: cover;
  background-image: url(./assets/orqaFonBg.svg);
}
/* 
.bg-2 {
  background-position: center;
  background-size: cover;
  background-image: url(./assets/orqaFon.svg);
} */
.bg-2::-webkit-scrollbar {
  display: none;
}
.salom {
  border: 2px solid #ff6a00;
  box-shadow: 0 0 15px #ef6602, 0 0 15px #ef6602 inset;
}

.nimadi {
  background-size: cover;
  background-image: url(./assets/menubg.svg);
}

.hero {
  background-size: cover;
  background-image: url(./assets/homeBg.png);
}

.pitsa {
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./assets/pitsaPng.png);
}

.mySwiper {
  width: 100%;
  height: 450px;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  width: 100%;
  height: 450px;
  background-color: transparent;
}

.swoperL {
  width: 70%;
}
